-r requirements-base.txt
aniso8601==9.0.1
blinker==1.8.2; python_version<="3.8"
blinker==1.9.0; python_version>="3.9"
click==8.1.7
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5; python_version<="3.8"
MarkupSafe==3.0.2; python_version>="3.9"
pytz==2024.2
six==1.16.0
Werkzeug==3.0.6; python_version<="3.8"
Werkzeug==3.1.2; python_version>="3.9"
zipp==3.20.2
